
/* Your CSS Code here. */
#button-1{
	background-color:blue;
	color:white;
}
#button-2{
	background-color:white;
	border-radius:2px;
	color:blue;
}
#button-3{
	background-color:green;
	border-radius:2px;
	color:white;
}
#button-4{
	background-color:red;
	color:white;
}
#button-5{
	background-color:yellow;
	display:block;
	width:600px;
}
#button-6{
	background-color:aqua;
}
#button-7{
	background-color:white;
}
#button-8{
	background-color:white;
	color:blue;
}
